@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

body {
    min-width: 1024px;
    padding: 0;
    margin: 20px auto;
    
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, .description {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.header_menu {
    background-color: rgba(142, 232, 255, 0.2);
    padding: 20px 0;
}

.header_logo_img {
    margin-top: 10px;
}

.header_img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.site_navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    max-width: 1024px;
    margin: 0 auto;
}

.nav_link:hover {
    transform: scale(1.2);
}
/*main*/

.main_catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    /*background-color: rgba(142, 232, 255, 0.2);*/
}

.gallery {
    padding: 5px;
    padding-right: 10px;
}

.mini {
    background-position: center;
    background-size: cover;
    height: 590px;
    width: 1024px;
}

.large {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.mikki {
    background-image: url(src/photo/DSC_0202.JPG);
}

.colibri {
    background-image: url(src/photo/DSC_0242.JPG);
}

/*desriptions*/

.about_me {

}

.about {
    max-width: 1366px;
    margin: 30px auto 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

/* contacts */

.contacts {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.insta_link {
    background: url(src/img/insta.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 120px;
    height: 120px;
   }

.insta_link:hover {
    background: url(src/img/insta_color.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transform: scale(0.6);
    width: 120px;
    height: 120px;
   }

.whatsapp_link {
    background: url(src/img/whatsapp.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 120px;
    height: 120px;
   }

.whatsapp_link:hover {
    background: url(src/img/whatsapp_color.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transform: scale(0.8);
    width: 120px;
    height: 120px;
   }

.viber_link {
    background: url(src/img/viber.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 120px;
    height: 120px;
   }

.viber_link:hover {
    background: url(src/img/viber_color.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transform: scale(1.1);
    width: 120px;
    height: 120px;
   }

/* -- Модалочка --  */

.Modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(255, 255, 255, 0.25);
    pointer-events: none;
}

.Modal:target {
    display: flex;
    pointer-events: auto;
} 

.Modal_Body {
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    padding: 0 5px;
    background: #FFF;
    width: 500px;
    height: 500px;

}

.ModalFull {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}


/* slider

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}

   <!-- .cssSlider .slides > li:first-child:not(:target) {
	    z-index: 1;
	    -webkit-transform: translateY(0%);
	         transform: translateY(0%);
    } -->

.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
*/